

.nav-link{
    color: #01095E;
}
body{
    font-family: "Roboto",sans-serif;
    font-size: 16px;
}
.color-white{
    color: white;
}
.color-w{
    color: #e9e7e7;
}
.color-y{
    color: #FFC800 !important;
}
.color-sb{
    color:#7EA0FF;
}
.color-db{
    color:#01095E;
}
.color-gr{
    color:#929ac5;
}
.d-flex{
    display: flex;    
}
.mar-l-twenty{
    margin-left: 20px;
}
.navbar{
    font-size: 18px;
    

}
.logo-marg {
    margin-top: 0vw;
    margin-left: 3vw;
}
.nav-link{
    font-family: "Josefin Sans",sans-serif !important;  
    font-size: 1vw;
    /* font-weight: bold; */
}
.me-4-nav {
    margin-right: 3.5rem!important;
}
.mb-5-nav {
    margin-bottom: 10vw!important;
}

.navbar-toggler{
    color: white !important;
    background-color: black;
    margin-right: 20px;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.nav-button{
    background-color: #FFC800;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.1vw;
    margin-right: 65px;
    margin-top: 15px;

}
.heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:#01095E ;
}
.custom-heading{
    font-family: 'Josefin Sans', sans-serif !important;
    font-weight: 600;
    font-size:4.2vw;
}
.custom-heading-u{
    text-decoration-color: #FFC800; 
    text-decoration-thickness:0.1em;
    
}
.custom-heading-p{
    font-size: 1.5vw;
    margin-bottom: 35px;
}
.line{
    z-index: -1;
    background-color: #FFC800; 
    width: 100%;
    height: 0.5vw;
    position: relative;
    bottom: 2vw;
   
}
.c-button{
    background-image:linear-gradient( #00095E, #0C1636);
    color: white;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    
}
.c-button:hover{
    color:white;
}
.car-sec{
    /* height: 96vh;  */
    /* background-image: url("https://preview.colorlib.com/theme/tralive/assets/img/hero/h1_hero1.png.webp"); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.car-background{
    position: relative;
    width: 100%;
}
.car-img{
    position: absolute;
    /* padding-bottom: 50%; */
    width: 50%;
    /* margin-top: 50%; */
}
.card-heading-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
}
.card-heading-sec-h1{
    font-family: "Josefin Sans",sans-serif !important;  

    font-size:4.1vw;
    color:#01095E ;
}
.card-heading-sec-p{
    font-size:1.5vw;
}
.card-sec{
    display: flex;
    column-gap: 2.8%;
    justify-content: center;
    margin-bottom: 50px;
}
.card{
    border: 0px solid rgba(0,0,0,.125);
    width: 34rem;
}
.card-body{
    border: none;
    box-shadow: 5px 2px 15px #e9e7e7;
    padding: 25px;
}
.card-title{
    font-family: "Josefin Sans",sans-serif;
    color: #00095E;
    font-size: 25px;
    font-weight: 700;
}
.c-amount{
    font-family: "Josefin Sans",sans-serif;

}
.card-img-top {
    
    
}
.custom-card-body
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    /* font-family: "Josefin Sans" !important; */
}
.c-btn-sm {
    padding: 0.25rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 0.2rem;
}
.custom-card-f{
    display: flex;
    align-items: baseline;
    font-size: 18px;
}
.blog-sec{
    display: flex;
    column-gap: 5%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    padding-left: 20px;
}
.blog-sec-img{
    width: 40% !important;
}
.blog-sec-text{
    width: 40% !important;
    
}
.blog-sec-h1{
    font-family: "Josefin Sans",sans-serif;
    font-weight: 800;
    font-size:3.5vw;
    color:#01095E;
    width: 88%;
}
.blog-sec-m{
    margin-bottom: 50px;

}
.blog-sec-p{
    color: #6c7c85;
    margin-bottom: 50px;
    line-height: 1.6;
    font-size: 1.3vw;
    width: 88%;
}
.colored-sec{
    padding-top: 7%;
    padding-bottom: 7%;
    background-image:linear-gradient(to right, #6B92FF , #F998D9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.colored-sec-h1{
    font-family: "Josefin Sans",sans-serif;
    font-size: 3.5vw; 
    margin-bottom:50px;
    font-weight: 700;
}
.colored-sec-h-2{
    font-size: 1.6vw;
    line-height: 2.3vw;
    width: 55%;
    text-align: center;
    margin-bottom: 50px;

}

.video-sec{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.v-image{
    
    width: 90vw;
}
.img-container {
    position: relative;
    text-align: center;
    color: white;
  }
.centered-v-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
.v-centered {
    font-family: "Josefin Sans",sans-serif;
    font-size: 2.5vw;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.image-sec{
    display: flex;
    /* flex-wrap: wrap; */
    width: auto;
}
.i-images{
    height: 15vw;
    width: 20%;
}
.footer-p{
    background-image:linear-gradient(to right, #192C6A , #0D1738);

}
.c-paragraph{
    line-height: 30px;
    margin-bottom: 20px;
}
.footer{
    padding-top: 7vw;
    padding-bottom: 7vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items:flex-start;
    color: white;
    
    

}
.f-heading{
    margin-bottom: 25px;
}
.f-label{
    display: flex;
    justify-content: center;
    color: #929ac5;
    padding-bottom: 20px;

}
.heart {
    height: 18px;
    width: 18px;
    margin: 2px 5px 0px 5px;
}
.social-img{
    margin: 10px;
    height: 20px;
    width: 20px;
    
}
.t-data
{
    color: #929ac5; 
}
.fitem{
   
}
.item4-num{
    font-size: 22px;
}
.item1-img{
    margin-bottom: 25px;
}

/* @media (max-width: 992px) {
    .footer{
        flex-wrap: wrap;
    }
} */
@media only screen and (min-width: 2400px){
  body{
      width: 2400px;
      margin: auto;
  }
  .v-image{
      width: 2400px;
  }
  
}
@media only screen and (max-width: 1000px) {
    .v-centered {
        top:76%;
        font-size: 4vw;
    }
}
@media only screen and (max-width: 768px) {
    .mb-5-nav {
        margin-bottom: 2rem!important;
    }
    .line{
        height: 1.2vw;
        bottom: 3vw;
    }
    .card-heading-sec{
        margin-bottom: 6vw;
    }
    .card-heading-sec-p{
        font-size:3vw;
    }
    .card-title{
        font-size: 20px;
    }
    .c-btn-sm {
        font-size: 0.8rem;
    }
    .blog-sec{
        flex-direction: column;
        margin-bottom: 15vw;
    }
    .blog-sec-img{
        width: 80% !important;
    }
    .blog-sec-text{
        width: 100% !important;
        
    }
    .blog-sec-h1{
        font-size: 4.5vw;
    
    }
    .blog-sec-p{
        color: .6c7c85;
        margin-bottom: 50px;
        line-height: 1.6;
        font-size: 4.3vw;
    }
    .v-centered {
        top:76%;
        font-size: 4vw;
    }
    .image-sec{
        flex-wrap: wrap;
    }
    .footer{
        flex-direction: column;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10%;
    }
    
    .colored-sec-h1{
        font-size: 6vw;
    }
    .colored-sec-h-2{
        font-size: 3vw;
        line-height: 4vw;
        width: 95%;
    }
   .f-label{
       padding: 20px;
       font-size: 2.5vw;
       text-align: center;
   }
  

}

@media only screen and (max-width: 600px) {
.custom-heading{
    font-size: 5vw;
}
.custom-heading-p{
    font-size: 3vw;
}
.c-button{
 
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        
    
}

.car-img{
    width: 90%;
}
.card{
    width: 29rem;
}
.card-heading-sec-h1{
    font-size: 5vw;
}
.blog-sec-text{
    padding: 2%;
}

.blog-sec-img{
    width: 100% !important;
}
.colored-sec{
    background-image:linear-gradient(to right, #6B92FF ,#A195F0 );
    /* padding-left: 15%;
    padding-right: 15%; */
}
/* .colored-sec-h1{
    font-size: 6vw;
}
.colored-sec-h-2{
    font-size: 3vw;
    width: 100%;
} */

.video-sec{
    padding: 20px;
}


.i-images{
    height: 250px;
    width: 50%;
}
.v-image{
    height: 400px;
    width: 100%;
}

.fitem{
 margin-bottom: 50px;   
}
.item1{
    margin-top: 50px;
}

} 
@media only screen and (max-width: 470px) {
    .card{
        width: 90%;
    }
}